In [ ]:
# Pandas
#
# Create a Dataframe
# Python dictionary equivalent to Dataframe
# read_csv into Dataframe
# Reset the Dataframe index
# Set the Dataframe index
# Dataframe to_csv
# Dataframe dimensions (rows, cols)
# Dataframe size
# Data type of each Series (column)
# Dataframe info
# Drop duplicate rows
# Each column in a DataFrame is a Series
# Create a new Series
# Add a column to the Dataframe
# Delete a column
# Operations on Series
# Sort
# Get rows and columns using integer location 'iloc'
# Get rows and columns using column labels 'loc'
# Get a Series of boolean values
# Filter a Dataframe using a Series of boolean values
# Filter and only keep specific columns
# Filter by string contents
# Get the column names
# Rename columns
# Update values in a row
# apply - apply a function to every value in a Series, or every Series in a Dataframe
# applymap - apply a function to every value in a Dataframe. Does not work with Series
# map - map each value in a Series to a different value. Values not matched are set to NaN
# replace - replace each value in a Series to a different value. Values not matched are unchanged
# groupby
# Create a second DataFrame
# SQL equivalents to Dataframe operations
# INNER JOIN, LEFT JOIN, RIGHT JOIN, FULL JOIN

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

In [ ]:
# Create a Dataframe
df = pd.DataFrame(
    {
        "patient_id": ["0001", "0002", "0003", "0004"],
        "first_name": ["Alice", "Bob", "Carol", "David"],
        "dob": ["1950-01-01", "1950-02-02", "1950-03-03", "1950-04-04"],
        "value1": [20, 30, 40, 50],
    }
)
df

In [ ]:
# Python dictionary equivalent to Dataframe
patients = {
    "patient_id": ["0001", "0002", "0003", "0004"],
    "first_name": ["Alice", "Bob", "Carol", "David"],
    "dob": ["1950-01-01", "1950-02-02", "1950-03-03", "1950-04-04"],
    "value1": [20, 30, 40, 50],
}
print(patients)
new_df = pd.DataFrame(patients)
new_df

In [ ]:
# read_csv into Dataframe
csv_df = pd.read_csv("data/pandas_data.csv", index_col="patient_id")
csv_df

In [ ]:
# Reset the Dataframe index
csv_df.reset_index(inplace=True)
csv_df.index

In [ ]:
# Get the column names
csv_df.columns

In [ ]:
# Set the Dataframe index
csv_df.set_index("first_name", inplace=True)
csv_df

In [ ]:
# Dataframe to_csv
df.to_csv("data/out.csv")
df

In [ ]:
# Dataframe dimensions (rows, cols)
df.shape

In [ ]:
# Dataframe size
df.size

In [ ]:
# Data type of each Series (column)
df.dtypes

In [ ]:
# Dataframe info
df.info()

In [ ]:
# Drop duplicate rows
df.drop_duplicates()

In [ ]:
# Each column in a DataFrame is a Series
df["dob"]

In [ ]:
# Create a new Series
values = pd.Series([70, 80, 90, 100])
values

In [ ]:
type(values)

In [ ]:
# Add a column to the Dataframe
df['value2'] = values
df

In [ ]:
# Delete a column
df.drop(columns=['value2']) # inplace=True

In [ ]:
# Operations on Series
df["value2"].describe()

In [ ]:
# Operations on Series
df["value2"].min()
df["value2"].max()
df["value2"].mean()
df["value2"].count()

In [ ]:
# Operations on Series
df["value2"].value_counts()

In [ ]:
# Sort
sorted_df = df.sort_values("value2", ascending=True)
sorted_df

In [ ]:
# Sort inplace
sorted_df.sort_values("dob", ascending=True, inplace=True)
sorted_df

In [ ]:
# Get rows and columns using integer location 'iloc'
# Get rows from index 0 to 2 and select columns 0 and 2
df.iloc[0:2, [0,2]]

In [ ]:
# Get rows and columns using column labels 'loc'
# Get rows from index 0 to 2 (inclusive) and select columns first_name and dob
df.loc[0:2, ['first_name','dob']]

In [ ]:
# Get a Series of boolean values
df["value1"] > 30

In [ ]:
# Get a Series of boolean values
df['value1'].isna()

In [ ]:
# Get a Series of boolean values
df['value1'].notna()

In [ ]:
# Filter a Dataframe using a Series of boolean values
#
# DELETE FROM df
# WHERE value1 IS NULL OR value1 <= 30;
filt = (df['value1'].notna()) & (df["value1"] > 30)
temp_df = df.loc[filt]
temp_df

In [ ]:
# Filter and only keep specific columns
temp_df = df.loc[filt, ["first_name", "value1"]]
temp_df

In [ ]:
# Filter by string contents
df[df['first_name'].str.contains('a', na=False)]

In [ ]:
# Get the column names
df.columns

In [ ]:
# Rename columns

In [ ]:
# Rename all columns
temp_df = df.copy()
temp_df.columns = [x.lower() for x in df.columns] # List comprehension
temp_df

In [ ]:
# Rename some columns
temp_df = df.copy()
temp_df.rename(columns={"patient_id": "patient_id"}, inplace=True)
temp_df

In [ ]:
# Update values in a row

In [ ]:
# Update all values in a row
temp_df.loc[2] = ["0005", "Charles", "1950-05-05", 50, 110]
temp_df

In [ ]:
# Update some values in a row
temp_df.loc[2, ["first_name", "dob"]] = ["Fred", "1950-05-05"]
temp_df

In [ ]:
# Update a single value in a row
temp_df.loc[2, "first_name"] = "Fred"
temp_df.at[2, "first_name"] = "Fred"
temp_df

In [ ]:
# apply - apply a function to every value in a Series, or every Series in a Dataframe
# applymap - apply a function to every value in a Dataframe. Does not work with Series
# map - map each value in a Series to a different value. Values not matched are set to NaN
# replace - replace each value in a Series to a different value. Values not matched are unchanged

In [ ]:
# apply - apply function to a Series
# Length of each value in the Series
df['first_name'].apply(len)

In [ ]:
# apply - apply function to each Series in the Dataframe
# Length of each Series in the Dataframe
df.apply(len, axis='rows') # rows is default

In [ ]:
# apply - apply function to each Series in the Dataframe
# Length of each Row in the Dataframe
df.apply(len, axis='columns')

In [ ]:
df

In [ ]:
# applymap - apply a function to every value in a Dataframe
temp_df = df.loc[df["first_name"].notna(), ["first_name", "dob"]]
temp_df.applymap(len)

In [ ]:
# applymap - apply a function to every value in a Dataframe
temp_df.applymap(str.upper) # inplace=True

In [ ]:
# map - map each value in a Series to a different value
# Values not matched are set to NaN
temp_df['first_name'].map({'Alice': 'Alice_edit', 'Bob': 'Bob_edit'})

In [ ]:
# replace - replace each value in a Series to a different value
# Values not matched are unchanged
temp_df['first_name'].replace({'Alice': 'Alice_edit', 'Bob': 'Bob_edit'})

In [ ]:
# Pass a standard function into apply
def name_to_upper(name):
    return name.upper()
temp_df['first_name'] = temp_df['first_name'].apply(name_to_upper)
temp_df

In [ ]:
# Pass a lambda function into apply
temp_df['first_name'] = temp_df['first_name'].apply(lambda x: x.upper())
temp_df

In [ ]:
# groupby
df.groupby("value1").size()

In [ ]:
# groupby
df.groupby("value1").count()

In [ ]:
# Create a second DataFrame
df1 = df
df2 = pd.DataFrame(
    {
        "patient_id": ["0001", "0002", "0003", "0005", "0006"],
        "visit_date": ["2022-08-01", "2022-08-02", "2022-08-03", "2022-08-05", "2022-08-06"],
        "result1": [11, 12, 13, 15, 16],
        "result2": [51, 52, 53, 55, 56],
    }
)
df2

In [ ]:
# SQL equivalents to Dataframe operations

In [ ]:
# INNER JOIN
# merge performs an INNER JOIN by default
#
# SELECT *
# FROM df1
# INNER JOIN df2
# ON df1.key = df2.key;
pd.merge(df1, df2, on="patient_id")

In [ ]:
# LEFT JOIN
#
# SELECT *
# FROM df1
# LEFT JOIN df2
# ON df1.key = df2.key;
pd.merge(df1, df2, on="patient_id", how="left")

In [ ]:
# RIGHT JOIN
#
# SELECT *
# FROM df1
# RIGHT JOIN df2
# ON df1.key = df2.key;
pd.merge(df1, df2, on="patient_id", how="right")

In [ ]:
# FULL JOIN
#
# SELECT *
# FROM df1
# FULL OUTER JOIN df2
# ON df1.key = df2.key;
pd.merge(df1, df2, on="patient_id", how="outer")

In [ ]:
# Concatenate Dataframes
#
# SELECT * FROM df1
# UNION ALL
# SELECT * FROM df2;
pd.concat([df1, df2])

In [ ]:
# UPDATE
#
# UPDATE df
# SET value1 = value1 + 10
# WHERE value1 < 80;
temp_df = df
temp_df.loc[df1["value1"] < 80, "value1"] += 10
temp_df

In [ ]:
df